.bouncing-text{
  font-size: 16px;
  line-height: 2em;
  overflow: hidden;
  span{
    display: inline-block;
    transition: all 250ms ease;
    transform: translateY(-100%);
    transition-delay: calc(500ms * 0.1 * var(--i));
    opacity: 0;
  }
  &.active{
    span{
      transform: translateY(0);
      opacity: 1;
      cursor: pointer;
      &.activeHoverEffect {
        animation-timing-function: ease;
        -webkit-animation: bounce 1s;
        -moz-animation: bounce 1s;
        -o-animation: bounce 1s;
        animation: bounce 1s;
      }
    }
  }
}

@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-10px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}