body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7F7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

*:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}